{% extends 'sneakers/base.html' %}
{% load static %}

{% block content %}
    <!----contact---->
    <div class="contact-info">
        <div class="map">
            <iframe src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe>
            <br><small><a
                href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265"
                style="color:#666;text-align:left;font-size:12px"></a></small>
        </div>
        <div class="container">
            <div class="contact-grids">
                <div class="col_1_of_bottom span_1_of_first1">
                    <h5>Address</h5>
                    <ul class="list3">
                        <li>
                            <img src="{% static '/vendor1/images/home.png' %}" alt="">
                            <div class="extra-wrap">
                                <p>Lorem ipsum consectetu,<br>dolor sit amet,.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col_1_of_bottom span_1_of_first1">
                    <h5>Phones</h5>
                    <ul class="list3">
                        <li>
                            <img src="{% static '/vendor1/images/phone.png' %}" alt="">
                            <div class="extra-wrap">
                                <p><span>Telephone:</span>+1 800 258 2598</p>
                            </div>
                            <img src="{% static '/vendor1/images/fax.png' %}" alt="">
                            <div class="extra-wrap">
                                <p><span>FAX:</span>+1 800 589 2587</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col_1_of_bottom span_1_of_first1">
                    <h5>Email</h5>
                    <ul class="list3">
                        <li>
                            <img src="{% static '/vendor1/images/email.png' %}" alt="">
                            <div class="extra-wrap">
                                <p><span class="mail"><a href="mailto:yoursite.com">info(at)brndlogo.com</a></span></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <form action="{% url 'contacts' %}" method="post">
                    {% csrf_token %}
                    <div class="contact-form">
                        <div class="contact-to">
                            {{ form.name }}
                            {{ form.email }}
                            {{ form.subject }}
                        </div>
                        <div class="text2">
                            {{ form.message }}
                        </div>
                        {{ form.captcha }}
                        <span><input type="submit" class="" value="Send"></span>
                        <div class="clearfix"></div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    <!---//contact---->
{% endblock %}
