{% extends 'sneakers/base.html' %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="container">
            <h1>Secure Payments</h1>
            <p>Welcome to our Payments page, where your peace of mind is our top priority! We understand how crucial it
                is for you to have a smooth and secure payment experience when purchasing our cutting-edge products and
                services. Rest assured, we've implemented state-of-the-art security measures to safeguard your financial
                transactions.</p>

            <h2>Accepted Payment Methods</h2>
            <p>We offer a variety of convenient payment methods to ensure your ease and comfort during checkout:</p>
            <ul>
                <li>Credit Cards: We accept all major credit cards, including Visa, MasterCard, American Express, and
                    Discover.
                </li>
                <li>Debit Cards: Feel free to use your debit card issued by any major bank to make payments.</li>
                <li>PayPal: Experience a seamless and secure checkout using your PayPal account.</li>
                <li>Apple Pay: If you're an Apple enthusiast, you can pay using Apple Pay for a swift transaction.</li>
                <li>Google Pay: For Android users, we support Google Pay as an efficient payment option.</li>
                <li>Cryptocurrency: Embrace the future of finance by paying with popular cryptocurrencies like Bitcoin,
                    Ethereum, or Litecoin.
                </li>
            </ul>

            <h2>Payment Security</h2>
            <p>Your trust is of utmost importance to us, and we employ rigorous security measures to protect your
                financial data. Our website is encrypted with the latest SSL technology, ensuring that your payment
                information remains confidential and inaccessible to unauthorized individuals.</p>
            <p>Additionally, we never store your payment details on our servers, further reducing any potential risk of
                data breaches. You can confidently complete your transactions, knowing that your sensitive information
                is
                safe with us.</p>

            <h2>Payment Confirmation</h2>
            <p>Once your payment is successfully processed, you will receive an email confirmation with all the relevant
                details of your purchase. In case of any discrepancies or questions regarding your payment, feel free to
                reach out to our friendly customer support team.</p>

            <h2>Need Assistance?</h2>
            <p>If you encounter any issues during the payment process or have any inquiries about our payment methods,
                please don't hesitate to contact our dedicated support team. We are available 24/7 to assist you and
                ensure your satisfaction with our services.</p>

        </div>
    </div>
{% endblock %}