{% extends 'sneakers/base.html' %}
{% load static %}

{% block filter %}
    <div class="content">
        <div class="container">
            <!--- products ---->
            <div class="products">
                <div class="product-filter">
                    <h1><a href="#">FILTER</a></h1>
                    <div class="product-filter-grids">
                        <div class="col-md-3 product-filter-grid1-brands">
                            <h3>BRANDS</h3>
                            <ul class="col-md-6 unstyled-list b-list1">
                                {% for brand in ten_brands %}
                                    <li><a href="{% url 'search' %}?q={{ brand.name }}">{{ brand.name }}</a></li>
                                    <div class="clearfix"></div>
                                {% endfor %}
                            </ul>
                            <ul class="col-md-6 unstyled-list b-list2">
                                {% for brand in next_brands %}
                                    <li><a href="{% url 'search' %}?q={{ brand.name }}">{{ brand.name }}</a></li>
                                    <div class="clearfix"></div>
                                {% endfor %}
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <!---->
                        <div class="col-md-8 product-filter-grid1-brands-col2">
                            <div class="producst-cate-grids">
                                <div class="col-md-4 producst-cate-grid text-center">
                                    <h2>WOMAN</h2>
                                    <img class="r-img text-center img"
                                         src="{% static '/vendor1/images/img-w.jpg' %}" title="name">
                                    <h4>TOTAL</h4>
                                    <label>{{ total_prod_female }} PRODUCTS</label>
                                    <a class="r-list-w" href="{% url 'woman' %}"><img
                                            src="{% static '/vendor1/images/list-icon.png' %}"
                                            title="list"></a>
                                </div>
                                <div class="col-md-4 producst-cate-grid text-center">
                                    <h2>MAN</h2>
                                    <img class="r-img text-center img"
                                         src="{% static '/vendor1/images/man-r-img.jpg' %}" title="name">
                                    <h4>TOTAL</h4>
                                    <label>{{ total_prod_male }} PRODUCTS</label>
                                    <a class="r-list-w" href="{% url 'mans' %}"><img
                                            src="{% static '/vendor1/images/list-icon.png' %}"
                                            title="list"></a>
                                </div>
                                <div class="col-md-4 producst-cate-grid text-center">
                                    <h2>KIDS</h2>
                                    <img class="r-img text-center img"
                                         src="{% static '/vendor1/images/kid-r-img.jpg' %}" title="name">
                                    <h4>TOTAL</h4>
                                    <label>{{ total_prod_kids }} PRODUCTS</label>
                                    <a class="r-list-w" href="{% url 'kids' %}"><img
                                            src="{% static '/vendor1/images/list-icon.png' %}"
                                            title="list"></a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="special-products all-poroducts latest-products">
                <div class="s-products-head">
                    <div class="s-products-head-left">
                        <h3>ALL <span>PRODUCTS</span></h3>
                    </div>
                    <div class="s-products-head-right">
                        <a href="#"><span> </span>view all products</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!----special-products-grids---->
                <div class="special-products-grids">
                    {% for product in products %}
                        <div class="col-md-3 special-products-grid text-center">
                            <a class="brand-name" href="/products/{{ product.name }}">
                                <img src="{{ product.brand.logo.url }}" title="name"/>
                            </a>
                            {% with first_image=product.images.first %}
                                {% if first_image %}
                                    <a class="product-here" href="/products/{{ product.name }}">
                                        <img src="{{ first_image.image.url }}" title="product-name"/>
                                    </a>
                                {% endif %}
                            {% endwith %}
                            <h4><a href="/products/{{ product.name }}">{{ product.name }}</a></h4>
                            <a class="product-btn" href="{% url 'products:add_to_basket' product.id %}">
                                <span>{{ product.price }}$</span>
                                <small>GET NOW</small>
                                <label> </label>
                            </a>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
                <div style="text-align: center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
                                <a class="page-link" href="{% if products.has_previous %}
                    {% url 'products:paginator' products.previous_page_number %}
                    {% else %} #
                {% endif %}" tabindex="-1" aria-disabled="true">Prev</a>
                            </li>
                            {% for page in products.paginator.page_range %}
                                <li class="page-item">
                                    <a class="page-link" href="{% url 'products:paginator' page %}">{{ page }}</a>
                                </li>
                            {% endfor %}
                            <li class="page-item {% if not products.has_next %} disabled {% endif %}">
                                <a class="page-link" href="{% if products.has_next %}
                    {% url 'products:paginator' products.next_page_number %}
                    {% else %} #
                {% endif %}" tabindex="-1" aria-disabled="true">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!---//special-products-grids---->
            </div>
            <!---//speical-products---->
        </div>
        <!----content---->

{% endblock %}