{% extends 'sneakers/base.html' %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="container">
            <h1>Shipping Information</h1>
            <p>Welcome to our Shipping page, where we ensure a smooth and efficient delivery process for all your
                purchases. Here, you'll find comprehensive information about our shipping methods, estimated delivery
                times, and international shipping options. We take pride in providing the best shipping experience for
                our valued customers.</p>

            <h2>Shipping Options</h2>
            <p>At AwesomeTech Solutions, we offer multiple shipping options to cater to your specific needs:</p>
            <ul>
                <li>Standard Shipping: Our standard shipping option provides reliable delivery at an affordable cost.
                    Your order will be delivered within 5-7 business days from the date of purchase.
                </li>
                <li>Expedited Shipping: For those who can't wait, we offer expedited shipping services that deliver
                    your order within 2-3 business days. Additional charges apply for this option.
                </li>
                <li>Free Shipping: Enjoy free standard shipping on orders above $50. It's our way of showing
                    appreciation
                    for your continued support.
                </li>
            </ul>

            <h2>Order Processing</h2>
            <p>Once you've placed an order with us, our dedicated team begins processing it promptly. The processing
                time
                generally takes 1-2 business days, after which your order will be ready for shipment.</p>
            <p>Please note that during peak seasons or special promotions, order processing may take slightly longer,
                but
                rest assured, we always strive to get your products to you as soon as possible.</p>

            <h2>Tracking Your Order</h2>
            <p>We understand the excitement of receiving your new tech goodies, and that's why we provide tracking
                services for all shipments. As soon as your order is dispatched, you'll receive an email with a tracking
                number and instructions on how to monitor the progress of your delivery.</p>
            <p>You can use this tracking number to stay updated on the estimated delivery date and check the current
                status of your package in real-time. Just click on the provided link in the email, and you're good to
                go!</p>

            <h2>International Shipping</h2>
            <p>Great news for our global customers! We offer international shipping to various countries worldwide.
                Shipping fees and delivery times may vary depending on your location and local customs regulations.</p>
            <p>Please be aware that international shipments might be subject to import taxes, customs duties, and fees
                levied by the destination country. These charges are beyond our control and are the responsibility of
                the
                recipient. We recommend contacting your local customs office for more information.</p>


            <h2>Need Assistance?</h2>
            <p>If you have any questions or concerns regarding the shipping of your order or need further assistance,
                don't hesitate to reach out to our friendly customer support team. We are always ready to help!</p>
        </div>
    </div>
{% endblock %}