{% extends 'sneakers/base.html' %}
{% load static %}


{% block content %}
    <div class="product-details">
        <div class="container">
            <div class="product-details-row1">
                <div class="product-details-row1-head">
                    <h2>{{ category.name }}</h2>
                    <p>{{  category.short_description }}</p>
                </div>
                <div class="col-md-4 product-details-row1-col1">
                    <!----details-product-slider--->
                    <!-- Include the Etalage files -->
                    <link rel="stylesheet" href="{% static '/vendor1/css/etalage.css' %}">
                    <script src="{% static '/vendor1/js/jquery.etalage.min.js' %}"></script>
                    <!-- Include the Etalage files -->
                    <script>
                        jQuery(document).ready(function ($) {

                            $('#etalage').etalage({
                                thumb_image_width: 300,
                                thumb_image_height: 400,
                                source_image_width: 900,
                                source_image_height: 1000,
                                show_hint: true,
                                click_callback: function (image_anchor, instance_id) {
                                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                                }
                            });
                            // This is for the dropdown list example:
                            $('.dropdownlist').change(function () {
                                etalage_show($(this).find('option:selected').attr('class'));
                            });

                        });
                    </script>
                    <!----//details-product-slider--->
                    <div class="details-left">
                        <div class="details-left-slider">
                            <ul id="etalage">
                                <li>
                                    <a href="optionallink.html">
                                        <img class="etalage_thumb_image"
                                             src="{% static '/vendor1/images/product-slide/image1_large.jpg' %}"/>
                                        <img class="etalage_source_image"
                                             src="{% static '/vendor1/images/product-slide/image1_large.jpg' %}"/>
                                    </a>
                                </li>
                                <li>
                                    <img class="etalage_thumb_image"
                                         src="{% static '/vendor1/images/product-slide/image2_large.jpg' %}"/>
                                    <img class="etalage_source_image"
                                         src="{% static '/vendor1/images/product-slide/image2_large.jpg' %}"/>
                                </li>
                                <li>
                                    <img class="etalage_thumb_image"
                                         src="{% static '/vendor1/images/product-slide/image3_thumb.jpg' %}"/>
                                    <img class="etalage_source_image"
                                         src="{% static '/vendor1/images/product-slide/image3_large.jpg' %}"/>
                                </li>
                                <li>
                                    <img class="etalage_thumb_image"
                                         src="{% static '/vendor1/images/product-slide/image4_thumb.jpg' %}"/>
                                    <img class="etalage_source_image"
                                         src="{% static '/vendor1/images/product-slide/image4_large.jpg' %}"/>
                                </li>
                                <li>
                                    <img class="etalage_thumb_image"
                                         src="{% static '/vendor1/images/product-slide/image5_thumb.jpg' %}"/>
                                    <img class="etalage_source_image"
                                         src="{% static '/vendor1/images/product-slide/image5_large.jpg' %}"/>
                                </li>
                                <li>
                                    <img class="etalage_thumb_image"
                                         src="{% static '/vendor1/images/product-slide/image6_thumb.jpg' %}"/>
                                    <img class="etalage_source_image"
                                         src="{% static '/vendor1/images/product-slide/image6_large.jpg' %}"/>
                                </li>
                                <li>
                                    <img class="etalage_thumb_image"
                                         src="{% static '/vendor1/images/product-slide/image7_thumb.jpg' %}"/>
                                    <img class="etalage_source_image"
                                         src="{% static '/vendor1/images/product-slide/image7_large.jpg' %}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 product-details-row1-col2">
                    <div class="product-rating">
                        <a class="rate" href="#"><span> </span></a>
                        <label><a href="#">Read <b>8</b> Reviews</a></label>
                    </div>
                    <div class="product-price">
                        <div class="product-price-left text-right">
                            {% if category.count_discount %}
                            <span>{{ category.old_price }}$</span>
                            {% endif %}
                            <h5>{{ category.price }}$</h5>
                        </div>
                        <div class="product-price-right">
                            <a href="#"><span> </span></a>
                            {% if category.count_discount %}
                                <label> save <b>{{ category.count_discount }}%</b></label>
                            {% else %}
                                <label> Best price!!</label>
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="product-price-details">
                        <p class="text-right">This is a long established fact that a reader will be distracted by
                            the
                            readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                            that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                            here,e </p>
                        <a class="shipping" href="{% url 'terms' %}"><span> </span>Free shipping</a>
                        <div class="clearfix"></div>
                        <div class="product-size-qty">
                            <div class="pro-size">
                                <span>Size:</span>
                                <select>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                </select>
                            </div>
                            <div class="pro-qty">
                                <span>Qty:</span>
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="product-cart-share">
                            <div class="add-cart-btn">
                                <input type="button" value="Add to cart"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!--//product-details--->
            </div>
            <!---- product-details ---->
            <div class="product-tabs">
                <!--Horizontal Tab-->
                <div id="horizontalTab">
                    <ul>
                        <li><a href="#tab-1">Product overwiev</a></li>
                    </ul>
                    <div id="tab-1" class="product-complete-info">
                        <h3>DESCRIPTION:</h3>
                        <p>{{ category.description }}</p>
                        </div>
                    </div>

                </div>

                <!-- Responsive Tabs JS -->
                <script src="{% static '/vendor1/js/jquery.responsiveTabs.js' %}" type="text/javascript"></script>

                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#horizontalTab').responsiveTabs({
                            rotate: false,
                            startCollapsed: 'accordion',
                            collapsible: 'accordion',
                            setHash: true,
                            disabled: [3, 4],
                            activate: function (e, tab) {
                                $('.info').html('Tab <strong>' + tab.id + '</strong> activated!');
                            }
                        });

                        $('#start-rotation').on('click', function () {
                            $('#horizontalTab').responsiveTabs('active');
                        });
                        $('#stop-rotation').on('click', function () {
                            $('#horizontalTab').responsiveTabs('stopRotation');
                        });
                        $('#start-rotation').on('click', function () {
                            $('#horizontalTab').responsiveTabs('active');
                        });
                        $('.select-tab').on('click', function () {
                            $('#horizontalTab').responsiveTabs('activate', $(this).val());
                        });

                    });
                </script>
            </div>
            <!-- //product-details ---->
        </div>
    </div>
    <!----content---->
    </div>

{% endblock %}
